import /init.recovery.qcom_decrypt.rc

on init
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange
    setprop prepdecrypt.setpatch true

on fs
    write /sys/kernel/sdhci_msm/add_host 1
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    symlink /dev/block/bootdevice/by-name/config /dev/block/bootdevice/by-name/frp
    symlink /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /dev/block/bootdevice/by-name/modem
    mkdir /firmware 0771 system system
    wait /dev/block/bootdevice/by-name/modem 1
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro
    symlink /firmware /vendor/firmware_mnt
    symlink /firmware /firmware_mnt

on boot
    start health-hal-2-1

on boot
    write /sys/bus/cpu/devices/cpu0/cpufreq/scaling_governor conservative
    write /sys/bus/cpu/devices/cpu1/cpufreq/scaling_governor conservative
    write /sys/bus/cpu/devices/cpu2/cpufreq/scaling_governor conservative
    write /sys/bus/cpu/devices/cpu3/cpufreq/scaling_governor conservative
    write /sys/bus/cpu/devices/cpu4/cpufreq/scaling_governor conservative
    write /sys/bus/cpu/devices/cpu5/cpufreq/scaling_governor conservative
    write /sys/bus/cpu/devices/cpu6/cpufreq/scaling_governor conservative
    write /sys/bus/cpu/devices/cpu7/cpufreq/scaling_governor conservative

    write /sys/bus/cpu/devices/cpu2/online 0
    write /sys/bus/cpu/devices/cpu3/online 0
    write /sys/bus/cpu/devices/cpu4/online 0
    write /sys/bus/cpu/devices/cpu5/online 0
    write /sys/bus/cpu/devices/cpu6/online 0
    write /sys/bus/cpu/devices/cpu7/online 0

on property:ro.boot.bootdevice=7864900.sdhci
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.gsid.image_running 1

# Boot control
on boot
    start boot-hal-1-1

# Decryption
on boot
    start prepdecrypt

# DT2W
on init
    write /proc/touchpanel/wakeup_gesture 1
    write /proc/sys/dev/xiaomi_msm8953_touchscreen/enable_dt2w 1
    write /sys/android_touch/doubletap2wake 1

# HVDCP
service hvdcp_opti /system/bin/hvdcp_opti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on boot
    start hvdcp_opti

# Workaround timestamp check
on init
    exec u:r:recovery:s0 -- /system/bin/workaround-timestamp-check.sh